In [1]:
import cv2
import numpy as np

In [2]:


# # Function to read image, display pixel values, and save them to a text file
# def save_image_values(image_path, output_txt_path):
#     # Read the image
#     image = cv2.imread(image_path)

#     # Check if the image was successfully loaded
#     if image is not None:
#         # Print the pixel values (BGR format) in a matrix
#         print("Pixel values matrix (BGR format):\n", image)

#         # Save the pixel values to a text file
#         with open(output_txt_path, 'w') as txt_file:
#             np.savetxt(txt_file, image, fmt='%d', delimiter='\t')

#         print(f"Pixel values saved to: {output_txt_path}")

#         # Display the image

#         # Wait for a key press and then close the window

#     else:
#         print("Error: Unable to read the image.")

# # Example usage
# image_path = '25.png'  # Replace with the actual path to your image
# output_txt_path = 'output.txt'  # Replace with the desired output text file path
# save_image_values(image_path, output_txt_path)

# #

In [8]:
import cv2
import pandas as pd
import numpy as np

# Function to read image, convert pixel values to DataFrame, and display it
def image_to_dataframe(image_path):
    # Read the image
    image = cv2.imread(image_path)

    # Check if the image was successfully loaded
    if image is not None:
        # Convert the image array to a Pandas DataFrame
        df = pd.DataFrame(np.reshape(image, (image.shape[0] * image.shape[1], image.shape[2])),
                          columns=['Blue', 'Green', 'Red'])

        # Display the DataFrame
        print("DataFrame of Pixel Values:\n", df)
        return df

        # Display the image
#         cv2.imshow('Image', image)

#         # Wait for a key press and then close the window
#         cv2.waitKey(0)
#         cv2.destroyAllWindows()
    else:
        print("Error: Unable to read the image.")

# Example usage
image_path = '16776.png'  # Replace with the actual path to your image
df=image_to_dataframe(image_path)

DataFrame of Pixel Values:
         Blue  Green  Red
0          0      0    0
1          0      0    0
2          0      0    0
3          0      0    0
4          0      0    0
...      ...    ...  ...
297985     0      0    0
297986     0      0    0
297987     0      0    0
297988     0      0    0
297989     0      0    0

[297990 rows x 3 columns]

In [9]:
df

        Blue  Green  Red
0          0      0    0
1          0      0    0
2          0      0    0
3          0      0    0
4          0      0    0
...      ...    ...  ...
297985     0      0    0
297986     0      0    0
297987     0      0    0
297988     0      0    0
297989     0      0    0

[297990 rows x 3 columns]

In [10]:
# Display unique values in the DataFrame
unique_values = df.apply(lambda x: x.unique())
print("Unique values in the DataFrame:\n", unique_values)

Unique values in the DataFrame:
 Blue         [0]
Green        [0]
Red      [0, 59]
dtype: object

In [11]:
df[df['Red']==83]

Empty DataFrame
Columns: [Blue, Green, Red]
Index: []